<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.strider_sol.multitoolapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MultiTool"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="multi_use.db"/>
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.example.strider_sol.multitoolapp"/>

        <activity
            android:name=".notepad.NotepadActivity"
            android:label="MultiTool"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".drawing.DrawingActivity"
            android:label="@string/title_activity_drawing"
            android:theme="@style/AppThemeOne"/>
        <activity
            android:name=".movie.MovieActivity"
            android:label="@string/title_activity_movie"
            android:theme="@style/AppThemeTwo"/>
        <activity
            android:name=".reminder.ReminderActivity"
            android:label="ReminderActivity"
            android:theme="@style/AppThemeThree"/>
        <activity
            android:name=".todo.ToDoActivity"
            android:label="@string/title_activity_to_do"
            android:theme="@style/AppThemeFour">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>